


<main>
    <!-- CAROUSEL BANNER -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox" style="margin: 0px; padding: 0px; border: 0px; margin: none;">
        <div class="carousel-item active">
            <img src="/static/images/slide1.jpg" style="width: 100%;">
            <div class="overlay">
            <div class="mb-1">
                <a class="text-white" href="">Technology</a>
                <span class="px-2 text-white">/</span>
                <a class="text-white" href="">January 01, 2023</a>
            </div>
            <a class="h2 m-0 text-white font-weight-bold" href="">Sanctus amet sed amet ipsum lorem.</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/slide2.jpg" style="width: 100%;">
            <div class="overlay">
            <div class="mb-1">
                <a class="text-white" href="">Technology</a>
                <span class="px-2 text-white">/</span>
                <a class="text-white" href="">January 01, 2023</a>
            </div>
            <a class="h2 m-0 text-white font-weight-bold" href="">Sanctus amet sed amet ipsum lorem.</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/slide4.jpg" style="width: 100%;">
            <div class="overlay">
            <div class="mb-1">
                <a class="text-white" href="">Technology</a>
                <span class="px-2 text-white">/</span>
                <a class="text-white" href="">January 01, 2023</a>
            </div>
            <a class="h2 m-0 text-white font-weight-bold" href="">Sanctus amet sed amet ipsum lorem.</a>
            </div>
        </div>
        </div>
    </div>
    <!-- CAROUSEL BANNER END -->
</main>
